<li>
    
    {{this.title}}
    {{this.start_date}}
    {{this.start_time}}
    {{this.duration}}
    {{this.repeat_cycle}}

    <button type="button" class="btn btn-dark" data-id="{{this.id}}">Delete</button>
     <button type="button" class="btn btn-dark" data-id="{{this.id}}">Export</button>
    
</li>